body{
    background-image: url("bg2.png");
    margin: 0px;
    padding: 0px;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-size: 100vw 100vh;
}
#imglogo {
    display: flex;
    height: auto;
    width:30vw;
    margin: 0 auto;
}
.play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: auto;
    padding:0px;
    margin: auto;
    margin-top: 10vh;
}

@media only screen and (max-width:480px) {
    .play {
        width: 60vw;
        margin-top: 15vh;
    }
    #imglogo {
        width: 80vw;
    }
}

@media only screen and (max-width:960px) and (min-width:480px) {
    .play {
        width: 60vw;
        margin-top: 15vh;
    }
    #imglogo {
        width: 80vw;
    }
}